{% extends '0500base.html' %}
{% from '0402macro_lib.html' import label_input2 %}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    {% if username %}#}
{#        <title>个人主页 - {{ username }}</title>#}
{#    {% else %}#}
{#        <title>欢迎来到个人主页</title>#}
{#    {% endif %}#}
{#</head>#}
{#<body>#}
{#<form>#}
{#    {{ label_input2('用户名：', 'text', 'username', 'username') }}#}
{#    {{ label_input2('身份证号：', 'text', 'idcard', 'idcard') }}#}
{#    {{ label_input2('密码：', 'password', 'password', 'password') }}#}
{#    {{ label_input2('确认密码：', 'password', 'password2', 'pwd2') }}#}
{#    <input type="submit" value="注册">#}
{#</form>#}
{#</body>#}
{#</html>#}
{% block content %}
<form>
    {{ label_input2('用户名：', 'text', 'username', 'username') }}
    {{ label_input2('身份证号：', 'text', 'idcard', 'idcard') }}
    {{ label_input2('密码：', 'password', 'password', 'password') }}
    {{ label_input2('确认密码：', 'password', 'password2', 'pwd2') }}
    <input type="submit" value="注册">
</form>
{% endblock %}