<div class="footer">
    <div class="wrap">
        <div class="social-footer"><a id="tooltip-f-weixin" class="wxii" href="javascript:void(0);"><i
                class="iconfont icon-iconfontmoban"></i></a> <a class="taobaodibu" href="https://www.taobao.com/"
                                                                target="_blank" rel="nofollow" title="淘宝"><i
                class="iconfont icon-taobao1"></i></a> <a class="ketangdibu" href="" target="_blank"><i
                class="iconfont icon-xuexi"></i></a></div>
        <div class="nav-footer"><a href='javascript:0'>网站首页</a> <a href='javascript:0'>阵法</a> <a href='javascript:0'>人物塑造</a>
            <a href='javascript:0'>PPT教程</a> <a href='javascript:0'>WPS教程</a> <a href='javascript:0'>办公软件</a> <a
                    href='javascript:0'>今日特价</a> <a href='javascript:0'>关于我们</a></div>
        <div class="copyright-footer">
            <p>Copyright &copy; 2002-2020 折优优 版权所有 <a href='javascript:0' target="_blank" rel="nofollow">皖ICP备17011273号-1</a>
                <a href='javascript:0' target="_blank">XML地图</a></p>
        </div>
        <div class="links-footer"><span>友情链接：</span>
            <a href='http://www.tkv5.cn' target='_blank'>网站源码</a>
            <a href='http://www.tkv5.cn' target='_blank'>织梦模板</a>
            <a href='http://www.tkv5.cn' target='_blank'>模版下载</a>
            <a href='http://www.tkv5.cn' target='_blank'>dedecms模板</a>
            <a href='http://www.tkv5.cn' target='_blank'>dede模版</a>
            <a href='http://www.tkv5.cn' target='_blank'>仿站</a>
            <a href='http://www.tkv5.cn' target='_blank'>图标下载</a>
            <a href='http://www.tkv5.cn' target='_blank'>网站模板</a>
            <a href='http://www.tkv5.cn' target='_blank'>源码下载</a>
        </div>
    </div>
</div>