<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>登录</title>
  <link rel="stylesheet" href="/static/css/layui.css">
</head>

<body>
  <form class="layui-form" action="" style="width: 500px;margin: 100px auto;">
    <div class="layui-form-item">
      <label class="layui-form-label">用户名</label>
      <div class="layui-input-block">
        <input type="text" name="username" required lay-verify="required" placeholder="请输入用户名" autocomplete="off"
          class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">密码框</label>
      <div class="layui-input-inline">
        <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off"
          class="layui-input">
      </div>
      {#<div class="layui-form-mid layui-word-aux">辅助文字</div>#}
    </div>

    <div class="layui-form-item">
      <div class="layui-input-block">
        <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
      </div>
    </div>
  </form>

  <script src="/static/layui.js"></script>
  <script>
    //Demo
    layui.use('form', function () {
      var form = layui.form,
        $ = layui.$

      //监听提交
      form.on('submit(formDemo)', function (data) {
        // 利用 ajax 将数据传输到服务器
        fetch('/auth/login', {
          method: 'POST',
          body: JSON.stringify(data.field),
          headers: {"Content-Type": 'application/json'}
        }).then(function (response) {
          return response.json();
        }).then(function (data) {
          console.log(data)
          if (data.status === 'ok') {
            setInterval(function () {
              window.location.href = '/admin'
            }, 1000)
            layer.msg(data.message)
          } else {
            setInterval(function () {
              window.location.href = '/auth/login'
            }, 1000)
            layer.msg(data.message)
          }
        })
        return false
      })
    })
  </script>

</body>

</html>
