<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="applicable-device" content="pc,mobile">
<meta name="author" content="order by">
<meta name="keywords" content="" />
<meta name="description" content="折优优 网站定制，wordpress模板" />
<link href="/static/css/swiper.min.css" rel="stylesheet" type="text/css">
<link href="/static/css/mian.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/static/css/iconfont.css">
