<div class="topmenu" id="tophead">
  <div class="wrap">
    <div id="mobilemenu"></div>
    <div class="mask"></div>
    <div class="logo"><a href='javascript:0'><img src="../static/images/logo.jpg" alt="折优优" width="280" height="70"></a>
    </div>
    <div class="menu">
      <ul id="nav">
        <li class="closex"><i class="iconfont icon-guanbi"></i></li>
        <li class="mainlevel"><a class='hover' href="/">网站首页</a></li>

        <li class="mainlevel"><a href='javascript:0'>阵法</a></li>

        <li class="mainlevel"><a href='javascript:0'>人物塑造</a></li>

        <li class="mainlevel"><a href='javascript:0'>PPT教程</a></li>

        <li class="mainlevel"><a href='javascript:0'>WPS教程</a></li>

        <li class="mainlevel"><a href='javascript:0'>办公软件</a></li>

        <li class="mainlevel"><a href='javascript:0'>今日特价</a></li>

        <div class="clear"></div>
      </ul>
    </div>
    <div class="search"><i class="iconfont icon-sousuo"></i></div>
  </div>
</div>
